.homepage__skills {
  background-color: white;
  padding: 2vw 8vw;
  margin-top: 4vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8vw;
}

.homepage__skills h3 {
  margin-bottom: 15px;
  text-align: center;
}

.homepage__skills ul {
  list-style: none;
  padding: 0;
}

.homepage__skills li {
  margin: 10px 0;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.homepage__subskills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-left: 20px;
  background-color: white;
}

.homepage__subskills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.skill-icon {
  width: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.fade-enter, .fade-appear {
  opacity: 0;
}

.fade-enter-active, .fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buttons button {
  border: none;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.6vw;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  font-size: 1vw;
}

.buttons button:hover {
  background-color: #e0e0e0;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px !important;
  padding: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.line {
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  position: relative;
}

.line.design {
  width: 100px;
  margin-left: 0;
}

.line.modeling {
  width: 120px;
  margin-left: 100px;
}

.line.coding {
  width: 80px;
  margin-left: 220px;
}

.skills-description {
  text-align: center;
  margin-bottom: 20px;
}

.padding {
  height: 1vw;
}

.introduction {
  display: flex;
  align-items: center;
}

.introduction .text {
  width: 70vw;
  margin-left: 5vw;
}

.my-picture {
  margin-right: 20px;
  width: 18vw;
  height: auto;
  filter: brightness(1.2);
}

.about {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 4vw;
}

.about h1 {
  text-align: center;
  margin-bottom: 2vw;
}

.contactContainer{
  font-size: 1.6vw;
  color: #262146 !important;
}

.contactContainer img{
  width: 2vw;
  height: auto;
}

.contactContainer a{
  color: #262146 !important;
  text-decoration: none;
}

.downloadButton {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.8vw 1.6vw;
  margin: 1vw;
  border-radius: 0.3vw;
  text-decoration: none;
  font-size: 1vw;
}

.downloadButton:hover {
  background-color: #0056b3;
}