.gallery-title {
  text-align: center;
}

.gallery-description {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-column {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-image {
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.small-image.hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
  flex-direction: row;
}

.button {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(0.6);
}

.button:hover {
  transform: scale(0.8);
}

.prev-button,
.next-button {
  position: fixed;
  top: 50%;
  z-index: 1000;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.modal-content {
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.prev-button,
.next-button {
  position: absolute;
  margin: 0 20px;
}

.close-button.button{
  position: fixed;
  top: 5vw;
  left: 5vw;
  font-size: 5vw;
  z-index: 1000;
  color: white;
}

.modal-image {
  cursor: pointer;
  flex: 1;
}

.modal-image img {
  width: 100%;
}

.small-image {
  transition: all 0.6s ease;
}

.small-image:hover {
  transform: scale(1.05);
}

.gallery {
  margin-top: 4vw;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0.6vw;
  width: 100%;
  z-index: 999;
}

.thumbnail {
  width: 50px;
  cursor: pointer;
  margin: 0 5px;
  opacity: 0.6;
  transition: all 0.3s;
}

.thumbnail.active-thumbnail {
  opacity: 1;
  scale: 1.2;
}

.thumbnail:hover {
  opacity: 1;
  scale: 1.2;
}