body {
  overflow-x: hidden;
}

.homepage {
  text-align: center;
}

.homepage__title {
  margin-bottom: 20px;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.homepage {
  background: linear-gradient(-45deg, #f1e3e2, #b4d8f1, #eed7f3, #f1e3e2, #a9bfff, #f9ffd3);
  background-size: 600% 600%;
  animation: gradientChange 15s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homepage__subskills {
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
}

.homepage__subskills li {
  margin: 5px 0;
}

.homepage__subskills img {
  width: 24px;
  height: 24px;
}

.blue-container {
  margin-top: 5vw;
  cursor: pointer;
  text-align: center;
}

.blue-container h3 {
  text-align: left;
  padding-bottom: 2vw;
}

.hello {
  text-align: left;
  margin: 0;
}

.images-container {
  display: flex;
  justify-content: flex-start;
  border-radius: 0.8vw;
  overflow: hidden;
}

.images-container img {
  transition: width 0.3s ease, filter 0.3s ease;
  width: 15%;
  height: 24vw;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(50%);
}

.images-container .hovered {
  width: 55%;
  filter: brightness(100%);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.hello{
  font-size: 2.4vw;
  font-weight: bold;
}
.homepage__intro{
  text-align: left;
}

.intro{
  margin-left: 16vw;
  margin-top: 12vw;
  width: 68vw;
  padding: 3vw;
  border-radius: 1.4vw;
}