.p4 .link-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  align-items: center;
}

.p4 .link-container.show {
  opacity: 1;
}

.p4 .link-container.hide {
  opacity: 0;
}

.p4 .padding {
  height: 10vw;
}

.p4 .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56vh;
  z-index: -1;
  background-color: #4da6ff;
}

.p4 .introduction,
.p4 .problem-definition,
.p4 .design-process,
.p4 .results-impact {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  line-height: 1.6;
  display: block;
}

.p4 .design-process {
  padding-left: 6vw;
  padding-right: 6vw;
  align-items: center;
}

.p4 .design-process img {
  width: 50vw;
}

.p4 .introduction h1,
.p4 .problem-definition h2,
.p4 .design-process h2,
.p4 .results-impact h2 {
  margin-bottom: 10px;
}

.p4 .introduction p,
.p4 .problem-definition p,
.p4 .design-process h3,
.p4 .design-process p,
.p4 .results-impact p {
  margin-bottom: 20px;
}

.p4 .design-process h3 {
  margin-top: 20px;
}

.p4 .navigate-pre-project {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.p4 .navigate-pre-project.show {
  opacity: 1;
}

.p4 .navigate-pre-project.hide {
  opacity: 0;
}

.p4 .navigate-pre-project.showBlock {
  display: block;
}

.p4 .navigate-pre-project.hideBlock {
  display: none;
}

.p4 .custom-button:hover {
  background-color: #4da6ff;
}

.p4 .navigate-pre-project .text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 70vw;
  padding: 0.6vw;
  border-radius: 10px;
  transition: all 0.3s;
}

.p4 .navigate-pre-project .text:hover {
  transform: scale(1.1);
}

.p4 .custom-button {
  background-color: #59d0f2;
  border: none;
  padding: 0.6vw 1.2vw;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s;
  font-size: 1.2vw;
}
