.p3 .bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70vh;
  background-color: #477ed2;
  z-index: -1;
}

.p3 .introduction h1,
.p3 .introduction h4,
.p3 .introduction p{
  color: white !important;
}

.p3 .padding {
  height: 10vw;
}

.p3 .design-process{
  align-items: center;
}
.design-process .wf {
  display: block;
  margin: 0 auto;
  width: 64vw;
}

.p3 .introduction,
.p3 .problem-definition,
.p3 .design-process,
.p3 .results-impact {
  display: block;
  padding-left: 16vw;
  padding-right: 16vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  line-height: 1.6;
}

.p3 .design-process {
  padding-left: 6vw;
  padding-right: 6vw;
}

.p3 .introduction h1,
.p3 .problem-definition h2,
.p3 .design-process h2,
.p3 .results-impact h2 {
  margin-bottom: 1vw;
}

.p3 .introduction p,
.p3 .problem-definition p,
.p3 .design-process h3,
.p3 .design-process p,
.p3 .results-impact p {
  margin-bottom: 1vw;
}

.p3 .final-product {
  padding: 4vw;
}

.p3 .design-process h3 {
  margin-top: 20px;
}

.p3{
  padding-left: 14vw;
}