body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.p1 .bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 60vh;
  background-color: #fcf2dc;
  z-index: -1;
  text-align: left;
}

.p1 .introduction,
.p1 .problem-definition,
.p1 .design-process,
.p1 .results-impact {
  display: block;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 4vw;
  padding-bottom: 2vw;
  line-height: 1.6;
}

.p1 .introduction h4 {
  text-decoration: underline;
  text-decoration-color: #fdc072;
}

.p1 .results-impact {
  padding-top: 1vw;
}

.p1 .design-process,
.p1 .final-product {
  padding-left: 6vw;
  padding-right: 6vw;
}

.p1 .design-process .users,
.p1 .design-process .wireframe {
  width: 100%;
}

.p1 ul.image-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.p1 ul.image-list li {
  flex: 1;
  text-align: center;
}

.p1 ul.image-list img {
  max-width: 100%;
  height: auto;
}

.p1 div[style*="flex"] {
  padding: 40px;
}

.p1 .description {
  padding: 20px;
}

.p1 div[style*="justify-content: center"] {
  padding: 10px;
}

#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-arrow {
  width: 2vw;
  height: 3vw;
  margin: 3vw;
  transition: all 0.3s;
}

.navigation-arrow:hover {
  transform: scale(1.2);
}

.p1 div[style*="maxWidth"] {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.p1 .navigate-next-project {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100vw;
  align-items: center;
}

.p1 .padding {
  height: 10vw;
}

.p1 .navigate-next-project {
  transition: all 0.5s ease-in-out;
}

.p1 .navigate-next-project.show {
  opacity: 1;
}

.p1 .navigate-next-project.hide {
  opacity: 0;
}

.p1 .navigate-next-project.showBlock {
  display:block;
}

.p1 .navigate-next-project.hideBlock {
  display:none;
}

.p1 .custom-button {
  background-color: #fdc072;
  border: none;
  padding: 0.6vw 1.2vw;
  text-align: center;
  margin: 4px 2px;
  border-radius: 12px;
  transition: all 0.3s;
  font-size: 1.2vw;
}

.p1 .custom-button:hover {
  background-color: #ffb24c;
}

.p1 .navigate-next-project .text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 70vw;
  padding: 0.6vw;
  border-radius: 10px;
  transition: all 0.3s;
}

.p1 .navigate-next-project .text:hover {
  transform: scale(1.1);
}