body {
  transition: all 0.3s;
}

.ui-design-container {
  padding: 2rem;
}

.ui-design-card {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 2vw;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  opacity: 0;
  transform: translateY(2.22vw);
  transition: all 1s;
  background-color: #f4f4f4;
  border-radius: 0.56vw;
  box-shadow: 0 0.22vw 0.44vw rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
}

.ui-design-card:hover .ui-design-content,
.ui-design-card:hover .ui-design-image{
  transform: scale(1.1);
}

.ui-design-card:hover .cursor{
  background-color: white;
}

.ui-design-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.ui-design-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.ui-design-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.ui-design-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.6vw;
  border-radius: 1vw;
  width: 30vw;
  transition: all 0.3s
}

.ui-design-title {
  font-size: 1.8vw;
  color: #262146;
}

.Description {
  font-size: 1.4vw;
  color: #666;
}

.ui-design-image {
  width: 34vw;
  height: auto;
  flex-shrink: 0;
  transition: all 0.3s;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .ui-design-card {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 76vh;
    padding: 3vw;
    padding-bottom: 3vw;
  }

  .ui-design-content{
    margin-top: 22vh;
  }
  .ui-design-image{
    margin-bottom: 22vh;
  }

  .ui-design-content,
  .ui-design-image {
    width: 94%;
  }

  .ui-design-title {
    font-size: 4vw;
  }

  .Description {
    font-size: 3vw;
  }
}

/* Tablet view */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .ui-design-card {
    width: 75vw;
    height: 70vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .ui-design-content {
    width: 35vw;
    padding: 1.2vw;
  }

  .ui-design-title {
    font-size: 3vw;
  }

  .Description {
    font-size: 2.5vw;
  }

  .ui-design-image {
    width: 38vw;
  }
}

/* Desktop view */
@media only screen and (min-width: 1025px) {
  .ui-design-card {
    width: 80vw;
    height: 80vh;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .ui-design-content {
    width: 30vw;
    padding: 1.6vw;
  }

  .ui-design-title {
    font-size: 1.8vw;
  }

  .Description {
    font-size: 1.4vw;
  }

  .ui-design-image {
    width: 34vw;
  }
}
