* {
  cursor: none !important;
}

body{
  background-color: #f6f6f6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: 500;
  font-size: 2vw;
  color: #262146;
  padding: 1vw;
}

h2 {
  font-weight: 400;
  font-size: 1.8vw;
  color: #403b61;
  padding: 0.8vw;
}

h3 {
  font-weight: 400;
  font-size: 1.6vw;
  color: #403b61;
  padding: 0.6vw;
}

h4 {
  font-weight: 400;
  font-size: 1.4vw;
  color: #403b61;
  padding: 0.5vw;
}

p {
  font-weight: 400;
  font-size: 1.2vw;
  padding: 0.4vw;
  color: rgb(53, 47, 91);
}

li {
  font-size: 1.2vw;
  color: #262146;
}

.cursor {
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.2vw;
  width: 2.2vw;
  position: fixed;
  pointer-events: none;
  transition: width 0.1s, height 0.1s;
  z-index: 999;
}

.cursor-clicked {
  width: 2.4vw;
  height: 2.4vw;
}

.cursor-default {
  background-image: url('./assets/icon/cursor1.svg');
}

.cursor-hover {
  background-image: url('./assets/icon/Pointer.svg');
}

.cursor-zoom {
  background-image: url('./assets/icon/zoom.svg');
}

@media only screen and (max-width: 768px) {
  .cursor{
    display: none;
  }
}